<h1>Login</h1>
<%= form_for User.new do |f| %>
	<%= f.label "Nombre de usuario" %>
	<%= f.text_field :username %> <br>
	<%= f.label "Contraseña" %>
	<%= f.password_field :password %><br>
	<%= f.submit "Login" %>
<% end %>
